{% extends 'myapp/base.html' %}

{%block body%}
    <div class="flex p-10">
        <div class="border-4">
            <img src="https://cdn0.iconfinder.com/data/icons/home-screen-20/32/homescreens_camera-12-256.png" alt="">
        </div>
        <div class="pl-10">
            <div class="text-4xl mb-4">{{product.name}}</div>
            <div class="mb-4">{{product.description}}</div>
            <div class="mb-4 text-green-700 font-bold">${{product.price}}</div>
            <div>
                <a href="{% url 'success'  product.id %}" class="bg-green-500 text-white px-4 py-2 rounded-lg">BUY</a>
            </div>
        </div>       
    </div>
{% endblock %}